body{

    background-color: rgb(109, 109, 109);

}

header{
    display: flex;
    background-color: rgb(218, 0, 0);
    justify-content:space-between;
    padding: 20px;
}

.cabecalho_menuitem{

    display: inline;
    text-transform: uppercase;
    margin-left: 20px;
}

.cabecalho_image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}